@import "variables.scss";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-primary;
}

.ant-form-item {
  margin-bottom: 0px;
}

.ant-modal-footer > button:last-child {
  background-color: #e93939;

  &:hover {
    background-color: #e93939 !important;
  }
}
