// Colors
$neutral-100: #f9f9f9;
$neutral-200: #e6e6e6;
$neutral-300: #cccccc;
$neutral-400: #b3b3b3;
$neutral-500: #8c8c8c;
$neutral-600: #737373;
$neutral-700: #595959;
$neutral-800: #404040;
$neutral-900: #262626;

$primary: #00b8c4;
$error: #ff4d4f;
