.home {
  width: 100%;
  min-height: calc(100vh - 173px);
  background-color: #f4f4f4;
}

.home__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px 24px;
}

.home__actions {
  width: 100%;
}

.home__actions__new-pet {
  display: flex;
  align-items: center;
  height: 42px;

  & svg {
    width: 20px;
    height: 20px;

    & path {
      stroke: #fff;
    }
  }
}

@media screen and (max-width: 960px) {
  .home__actions {
    flex-direction: column;
  }

  .home__actions__new-pet {
    width: fit-content;
  }
}
