@import "../../styles/variables.scss";

.header {
  background-color: #fff;
  padding: 0px;
  height: fit-content;
}

.header__content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
  height: 86px;

  & svg {
    height: 44px;
    align-self: center;
  }
}

.header_logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  & > p {
    font-size: 24px;
    font-weight: 500;
    color: $primary;
  }
}

.header__divider {
  width: 100%;
  height: 1px;
  background-color: $neutral-200;
}

.header__page-title {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 86px;
  padding: 0 24px;
  display: flex;
  align-items: center;

  & > h1 {
    font-size: 24px;
    font-weight: 600;
    color: $neutral-900;
  }
}

@media screen and (max-width: 960px) {
  .header_logo-container {
    & > p {
      display: none;
    }
  }
}
