@import "../../styles/variables.scss";

.recovery-code {
  background-color: #f4f4f4;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;

  a {
    font-weight: 600;
  }
}

.recovery-code__error-message {
  color: $error;
  position: absolute;
  margin-top: 8px;
}
