.skeleton-list__item {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;

  & > div > span:first-child {
    display: none;
  }

  & > div:first-child {
    justify-self: flex-start;
  }
}

@media screen and (max-width: 960px) {
  .skeleton-list__item {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: flex-start;
    row-gap: 16px;

    & > div {
      display: flex;
      justify-content: space-between;
      width: 100%;

      & > span:first-child {
        display: inline;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
    }
  }
}
