@import "../../styles/variables.scss";

.maintain-pet {
  width: 100%;
  min-height: calc(100vh - 173px);
  background-color: #f4f4f4;
}

.maintain-pet__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px 24px;

  & .ant-flex {
    width: 100%;
  }

  & > .ant-image {
    height: fit-content;

    & > img {
      width: 336px;
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px 44px;
    background-color: #fff;
    border-radius: 8px;

    & > div {
      max-width: 50%;
    }
  }
}

.maintain-pet__select-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  background-color: #ededed;
  height: 280px;
  width: 100%;
  max-width: 336px;
  border: 1px dashed $neutral-400;
  border-radius: 8px;
  cursor: pointer;
  position: relative;

  & > p {
    color: $neutral-700;
    font-size: 14px;
    line-height: 23.8px;
    text-align: center;
  }

  & > svg {
    width: 48px;
    height: 48px;

    & path {
      stroke: $neutral-700;
    }
  }
}

.maintain-pet__form-container {
  & > button {
    height: 48px;
  }
}

@media screen and (max-width: 960px) {
  .maintain-pet__container {
    flex-direction: column;

    & form {
      & > div {
        max-width: 100%;
      }
    }
  }
}
